In [5]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
import nltk

In [6]:
df = pd.read_csv('ab.csv')
df.head(4)

,No.,Score,Against,Position,Innings,Venue,Ground,Date,Result
0,1,109,England,1,3,"SuperSport Park, Centurion",Home,21-Jan-05,Drawn
1,2,178,West Indies,2,2,"Kensington Oval, Bridgetown",Away,21-Apr-05,Won
2,3,114,West Indies,1,1,"Antigua Recreation Ground, St John's",Away,29-Apr-05,Drawn
3,4,146,West Indies,1,1,"National Cricket Stadium, St George's",Away,10-Apr-07,Won

In [7]:
# tokenization

df = pd.DataFrame(df)

def tokenize_text(text):
    tokens = word_tokenize(text.lower())  # Tokenize and convert to lowercase
    return tokens

In [8]:
nltk.download('punkt')
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
df['tokenized_text'] = df['Against'].apply(tokenize_text)
print(df)

    No.  Score       Against  Position  Innings  \
0     1    109       England         1        3
1     2    178   West Indies         2        2
2     3    114   West Indies         1        1
3     4    146   West Indies         1        1
4     5    107      Zimbabwe         4        1
5     6  103*       Pakistan         4        1
6     7   103*   West Indies         6        2
7     8  217*          India         6        2
8     9    174       England         6        2
9    10  106*      Australia         5        4
10   11   104*     Australia         5        2
11   12    163     Australia         5        2
12   13    121       England         3        1
13   14   114*         India         5        2
14   15  102*          India         4        1
15   16    102   West Indies         4        1
16   17   135*   West Indies         5        1
17   18   101*      Zimbabwe         3        2
18   19    109      Zimbabwe         4        1
19   20  278*       Pakistan         5        1
20   21    129         India         5        2
21   22  107*    West Indies         4        2
22   23    134   Netherlands         4        1
23   24   160*     Sri Lanka         5        1
24   25   125*     Sri Lanka         4        1
25   26   106*   New Zealand         5        2
26   27    169     Australia         5        3
27   28   103*      Pakistan         5        3
28   29    121      Pakistan         5        1
29   30    128      Pakistan         2        1
30   31    164      Pakistan         6        2
31   32   115*      Pakistan         5        1
32   33    109         India         5        1
33   34    103         India         6        4
34   35    116     Australia         5        1
35   36    108     Sri Lanka         4        1
36   37   136*     Australia         4        2
37   38    152   West Indies         5        1
38   39    148   West Indies         5        2
39   40    149   West Indies         3        1
40   41   162*   West Indies         5        1
41   42   104*         India         4        1
42   43    112         India         4        2
43   44    119         India         4        1
44   45   101*       England         5        2
45   46    176    Bangladesh         4        1
46   47   126*     Australia         5        2

                                         Venue   Ground       Date     Result  \
0                   SuperSport Park, Centurion     Home  21-Jan-05      Drawn
1                  Kensington Oval, Bridgetown     Away  21-Apr-05        Won
2         Antigua Recreation Ground, St John's     Away  29-Apr-05      Drawn
3        National Cricket Stadium, St George's     Away  10-Apr-07        Won
4                   Harare Sports Club, Harare     Away  26-Aug-07        Won
5                      Gaddafi Stadium, Lahore     Away  18-Oct-07        Won
6             Kingsmead Cricket Ground, Durban     Home  10-Jan-08        Won
7              Sardar Patel Stadium, Ahmedabad     Away  03-Apr-08        Won
8                            Headingley, Leeds     Away  18-Jul-08        Won
9                           WACA Ground, Perth     Away  17-Dec-08        Won
10         New Wanderers Stadium, Johannesburg     Home  26-Feb-09       Lost
11          Newlands Cricket Ground, Cape Town     Home  19-Mar-09        Won
12          Newlands Cricket Ground, Cape Town     Home  27-Nov-09        Won
13                 Roop Singh Stadium, Gwalior     Away  24-Feb-10       Lost
14             Sardar Patel Stadium, Ahmedabad     Away  27-Feb-10        Won
15        Sir Vivian Richards Stadium, Antigua     Away  22-May-10  Won (D/L)
16                     Warner Park, Basseterre     Away  18-Jun-10      Drawn
17                  Senwes Park, Potchefstroom     Home  17-Oct-10        Won
18                    Willowmoore Park, Benoni     Home  22-Oct-10        Won
19     Sheikh Zayed Cricket Stadium, Abu Dhabi  Neutral  20-Nov-10      Drawn
20                  SuperSport Park, Centurion     Home  16-Dec-10        Won
21              Feroz Shah Kotla Ground, Delhi  Neutral  24-Feb-11        Won
22                         PCA Stadium, Mohali  Neutral  03-Mar-11        Won
23          Newlands Cricket Ground, Cape Town     Home  03-Jan-12        Won
24         New Wanderers Stadium, Johannesburg     Home  22-Jan-12       Lost
25                 Westpac Stadium, Wellington     Away  25-Feb-12        Won
26                          WACA Ground, Perth     Away  30-Nov-12        Won
27         New Wanderers Stadium, Johannesburg     Home  03-Feb-13        Won
28                  SuperSport Park, Centurion     Home  22-Feb-13        Won
29         New Wanderers Stadium, Johannesburg     Home  17-Mar-13        Won
30  Dubai International Cricket Stadium, Dubai  Neutral  23-Oct-13        Won
31            Sharjah Cricket Stadium, Sharjah  Neutral  11-Nov-13        Won
32                 SuperSport Park, Centurion,     Home  11-Dec-13  No result
33         New Wanderers Stadium, Johannesburg     Home  22-Dec-13      Drawn
34            St George's Park, Port Elizabeth     Home  20-Feb-14        Won
35         MRIC Stadium, Hambantota, Sri Lanka     Away  12-Jul-14        Won
36                  Harare Sports Club, Harare  Neutral  27-Aug-14        Won
37                  SuperSport Park, Centurion     Home  17-Dec-14        Won
38          Newlands Cricket Ground, Cape Town     Home  04-Jan-15        Won
39         New Wanderers Stadium, Johannesburg     Home  18-Jan-15        Won
40               Sydney Cricket Ground, Sydney  Neutral  27-Feb-15        Won
41                  Green Park Stadium, Kanpur     Away  11-Oct-15        Won
42          M. A. Chidambaram Stadium, Chennai     Away  22-Oct-15       Lost
43                    Wankhede Stadium, Mumbai     Away  25-Oct-15        Won
44          Newlands Cricket Ground, Cape Town     Home  14-Feb-16        Won
45                          Boland Park, Paarl     Home  18-Oct-17        Won
46            St George's Park, Port Elizabeth     Home  09-Mar-18        Won

    tokenized_text
0        [england]
1   [west, indies]
2   [west, indies]
3   [west, indies]
4       [zimbabwe]
5       [pakistan]
6   [west, indies]
7          [india]
8        [england]
9      [australia]
10     [australia]
11     [australia]
12       [england]
13         [india]
14         [india]
15  [west, indies]
16  [west, indies]
17      [zimbabwe]
18      [zimbabwe]
19      [pakistan]
20         [india]
21  [west, indies]
22   [netherlands]
23    [sri, lanka]
24    [sri, lanka]
25  [new, zealand]
26     [australia]
27      [pakistan]
28      [pakistan]
29      [pakistan]
30      [pakistan]
31      [pakistan]
32         [india]
33         [india]
34     [australia]
35    [sri, lanka]
36     [australia]
37  [west, indies]
38  [west, indies]
39  [west, indies]
40  [west, indies]
41         [india]
42         [india]
43         [india]
44       [england]
45    [bangladesh]
46     [australia]

In [10]:
# normalization

import unicodedata

def tokenize_and_normalize(text):
    text = text.lower()
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')

    tokens = word_tokenize(text)
    return tokens


df['normalized_tokenized_text'] = df['Against'].apply(tokenize_and_normalize)

print(df)

    No.  Score       Against  Position  Innings  \
0     1    109       England         1        3
1     2    178   West Indies         2        2
2     3    114   West Indies         1        1
3     4    146   West Indies         1        1
4     5    107      Zimbabwe         4        1
5     6  103*       Pakistan         4        1
6     7   103*   West Indies         6        2
7     8  217*          India         6        2
8     9    174       England         6        2
9    10  106*      Australia         5        4
10   11   104*     Australia         5        2
11   12    163     Australia         5        2
12   13    121       England         3        1
13   14   114*         India         5        2
14   15  102*          India         4        1
15   16    102   West Indies         4        1
16   17   135*   West Indies         5        1
17   18   101*      Zimbabwe         3        2
18   19    109      Zimbabwe         4        1
19   20  278*       Pakistan         5        1
20   21    129         India         5        2
21   22  107*    West Indies         4        2
22   23    134   Netherlands         4        1
23   24   160*     Sri Lanka         5        1
24   25   125*     Sri Lanka         4        1
25   26   106*   New Zealand         5        2
26   27    169     Australia         5        3
27   28   103*      Pakistan         5        3
28   29    121      Pakistan         5        1
29   30    128      Pakistan         2        1
30   31    164      Pakistan         6        2
31   32   115*      Pakistan         5        1
32   33    109         India         5        1
33   34    103         India         6        4
34   35    116     Australia         5        1
35   36    108     Sri Lanka         4        1
36   37   136*     Australia         4        2
37   38    152   West Indies         5        1
38   39    148   West Indies         5        2
39   40    149   West Indies         3        1
40   41   162*   West Indies         5        1
41   42   104*         India         4        1
42   43    112         India         4        2
43   44    119         India         4        1
44   45   101*       England         5        2
45   46    176    Bangladesh         4        1
46   47   126*     Australia         5        2

                                         Venue   Ground       Date     Result  \
0                   SuperSport Park, Centurion     Home  21-Jan-05      Drawn
1                  Kensington Oval, Bridgetown     Away  21-Apr-05        Won
2         Antigua Recreation Ground, St John's     Away  29-Apr-05      Drawn
3        National Cricket Stadium, St George's     Away  10-Apr-07        Won
4                   Harare Sports Club, Harare     Away  26-Aug-07        Won
5                      Gaddafi Stadium, Lahore     Away  18-Oct-07        Won
6             Kingsmead Cricket Ground, Durban     Home  10-Jan-08        Won
7              Sardar Patel Stadium, Ahmedabad     Away  03-Apr-08        Won
8                            Headingley, Leeds     Away  18-Jul-08        Won
9                           WACA Ground, Perth     Away  17-Dec-08        Won
10         New Wanderers Stadium, Johannesburg     Home  26-Feb-09       Lost
11          Newlands Cricket Ground, Cape Town     Home  19-Mar-09        Won
12          Newlands Cricket Ground, Cape Town     Home  27-Nov-09        Won
13                 Roop Singh Stadium, Gwalior     Away  24-Feb-10       Lost
14             Sardar Patel Stadium, Ahmedabad     Away  27-Feb-10        Won
15        Sir Vivian Richards Stadium, Antigua     Away  22-May-10  Won (D/L)
16                     Warner Park, Basseterre     Away  18-Jun-10      Drawn
17                  Senwes Park, Potchefstroom     Home  17-Oct-10        Won
18                    Willowmoore Park, Benoni     Home  22-Oct-10        Won
19     Sheikh Zayed Cricket Stadium, Abu Dhabi  Neutral  20-Nov-10      Drawn
20                  SuperSport Park, Centurion     Home  16-Dec-10        Won
21              Feroz Shah Kotla Ground, Delhi  Neutral  24-Feb-11        Won
22                         PCA Stadium, Mohali  Neutral  03-Mar-11        Won
23          Newlands Cricket Ground, Cape Town     Home  03-Jan-12        Won
24         New Wanderers Stadium, Johannesburg     Home  22-Jan-12       Lost
25                 Westpac Stadium, Wellington     Away  25-Feb-12        Won
26                          WACA Ground, Perth     Away  30-Nov-12        Won
27         New Wanderers Stadium, Johannesburg     Home  03-Feb-13        Won
28                  SuperSport Park, Centurion     Home  22-Feb-13        Won
29         New Wanderers Stadium, Johannesburg     Home  17-Mar-13        Won
30  Dubai International Cricket Stadium, Dubai  Neutral  23-Oct-13        Won
31            Sharjah Cricket Stadium, Sharjah  Neutral  11-Nov-13        Won
32                 SuperSport Park, Centurion,     Home  11-Dec-13  No result
33         New Wanderers Stadium, Johannesburg     Home  22-Dec-13      Drawn
34            St George's Park, Port Elizabeth     Home  20-Feb-14        Won
35         MRIC Stadium, Hambantota, Sri Lanka     Away  12-Jul-14        Won
36                  Harare Sports Club, Harare  Neutral  27-Aug-14        Won
37                  SuperSport Park, Centurion     Home  17-Dec-14        Won
38          Newlands Cricket Ground, Cape Town     Home  04-Jan-15        Won
39         New Wanderers Stadium, Johannesburg     Home  18-Jan-15        Won
40               Sydney Cricket Ground, Sydney  Neutral  27-Feb-15        Won
41                  Green Park Stadium, Kanpur     Away  11-Oct-15        Won
42          M. A. Chidambaram Stadium, Chennai     Away  22-Oct-15       Lost
43                    Wankhede Stadium, Mumbai     Away  25-Oct-15        Won
44          Newlands Cricket Ground, Cape Town     Home  14-Feb-16        Won
45                          Boland Park, Paarl     Home  18-Oct-17        Won
46            St George's Park, Port Elizabeth     Home  09-Mar-18        Won

    tokenized_text normalized_tokenized_text
0        [england]                 [england]
1   [west, indies]            [west, indies]
2   [west, indies]            [west, indies]
3   [west, indies]            [west, indies]
4       [zimbabwe]                [zimbabwe]
5       [pakistan]                [pakistan]
6   [west, indies]            [west, indies]
7          [india]                   [india]
8        [england]                 [england]
9      [australia]               [australia]
10     [australia]               [australia]
11     [australia]               [australia]
12       [england]                 [england]
13         [india]                   [india]
14         [india]                   [india]
15  [west, indies]            [west, indies]
16  [west, indies]            [west, indies]
17      [zimbabwe]                [zimbabwe]
18      [zimbabwe]                [zimbabwe]
19      [pakistan]                [pakistan]
20         [india]                   [india]
21  [west, indies]            [west, indies]
22   [netherlands]             [netherlands]
23    [sri, lanka]              [sri, lanka]
24    [sri, lanka]              [sri, lanka]
25  [new, zealand]            [new, zealand]
26     [australia]               [australia]
27      [pakistan]                [pakistan]
28      [pakistan]                [pakistan]
29      [pakistan]                [pakistan]
30      [pakistan]                [pakistan]
31      [pakistan]                [pakistan]
32         [india]                   [india]
33         [india]                   [india]
34     [australia]               [australia]
35    [sri, lanka]              [sri, lanka]
36     [australia]               [australia]
37  [west, indies]            [west, indies]
38  [west, indies]            [west, indies]
39  [west, indies]            [west, indies]
40  [west, indies]            [west, indies]
41         [india]                   [india]
42         [india]                   [india]
43         [india]                   [india]
44       [england]                 [england]
45    [bangladesh]              [bangladesh]
46     [australia]               [australia]

In [11]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [12]:
# stopword removal

from nltk.corpus import stopwords

def tokenize_normalize_remove_stopwords(text):
    text = text.lower()
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    tokens = word_tokenize(text)


    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]

    return filtered_tokens

df['processed_text'] = df['Against'].apply(tokenize_normalize_remove_stopwords)

print(df)

    No.  Score       Against  Position  Innings  \
0     1    109       England         1        3
1     2    178   West Indies         2        2
2     3    114   West Indies         1        1
3     4    146   West Indies         1        1
4     5    107      Zimbabwe         4        1
5     6  103*       Pakistan         4        1
6     7   103*   West Indies         6        2
7     8  217*          India         6        2
8     9    174       England         6        2
9    10  106*      Australia         5        4
10   11   104*     Australia         5        2
11   12    163     Australia         5        2
12   13    121       England         3        1
13   14   114*         India         5        2
14   15  102*          India         4        1
15   16    102   West Indies         4        1
16   17   135*   West Indies         5        1
17   18   101*      Zimbabwe         3        2
18   19    109      Zimbabwe         4        1
19   20  278*       Pakistan         5        1
20   21    129         India         5        2
21   22  107*    West Indies         4        2
22   23    134   Netherlands         4        1
23   24   160*     Sri Lanka         5        1
24   25   125*     Sri Lanka         4        1
25   26   106*   New Zealand         5        2
26   27    169     Australia         5        3
27   28   103*      Pakistan         5        3
28   29    121      Pakistan         5        1
29   30    128      Pakistan         2        1
30   31    164      Pakistan         6        2
31   32   115*      Pakistan         5        1
32   33    109         India         5        1
33   34    103         India         6        4
34   35    116     Australia         5        1
35   36    108     Sri Lanka         4        1
36   37   136*     Australia         4        2
37   38    152   West Indies         5        1
38   39    148   West Indies         5        2
39   40    149   West Indies         3        1
40   41   162*   West Indies         5        1
41   42   104*         India         4        1
42   43    112         India         4        2
43   44    119         India         4        1
44   45   101*       England         5        2
45   46    176    Bangladesh         4        1
46   47   126*     Australia         5        2

                                         Venue   Ground       Date     Result  \
0                   SuperSport Park, Centurion     Home  21-Jan-05      Drawn
1                  Kensington Oval, Bridgetown     Away  21-Apr-05        Won
2         Antigua Recreation Ground, St John's     Away  29-Apr-05      Drawn
3        National Cricket Stadium, St George's     Away  10-Apr-07        Won
4                   Harare Sports Club, Harare     Away  26-Aug-07        Won
5                      Gaddafi Stadium, Lahore     Away  18-Oct-07        Won
6             Kingsmead Cricket Ground, Durban     Home  10-Jan-08        Won
7              Sardar Patel Stadium, Ahmedabad     Away  03-Apr-08        Won
8                            Headingley, Leeds     Away  18-Jul-08        Won
9                           WACA Ground, Perth     Away  17-Dec-08        Won
10         New Wanderers Stadium, Johannesburg     Home  26-Feb-09       Lost
11          Newlands Cricket Ground, Cape Town     Home  19-Mar-09        Won
12          Newlands Cricket Ground, Cape Town     Home  27-Nov-09        Won
13                 Roop Singh Stadium, Gwalior     Away  24-Feb-10       Lost
14             Sardar Patel Stadium, Ahmedabad     Away  27-Feb-10        Won
15        Sir Vivian Richards Stadium, Antigua     Away  22-May-10  Won (D/L)
16                     Warner Park, Basseterre     Away  18-Jun-10      Drawn
17                  Senwes Park, Potchefstroom     Home  17-Oct-10        Won
18                    Willowmoore Park, Benoni     Home  22-Oct-10        Won
19     Sheikh Zayed Cricket Stadium, Abu Dhabi  Neutral  20-Nov-10      Drawn
20                  SuperSport Park, Centurion     Home  16-Dec-10        Won
21              Feroz Shah Kotla Ground, Delhi  Neutral  24-Feb-11        Won
22                         PCA Stadium, Mohali  Neutral  03-Mar-11        Won
23          Newlands Cricket Ground, Cape Town     Home  03-Jan-12        Won
24         New Wanderers Stadium, Johannesburg     Home  22-Jan-12       Lost
25                 Westpac Stadium, Wellington     Away  25-Feb-12        Won
26                          WACA Ground, Perth     Away  30-Nov-12        Won
27         New Wanderers Stadium, Johannesburg     Home  03-Feb-13        Won
28                  SuperSport Park, Centurion     Home  22-Feb-13        Won
29         New Wanderers Stadium, Johannesburg     Home  17-Mar-13        Won
30  Dubai International Cricket Stadium, Dubai  Neutral  23-Oct-13        Won
31            Sharjah Cricket Stadium, Sharjah  Neutral  11-Nov-13        Won
32                 SuperSport Park, Centurion,     Home  11-Dec-13  No result
33         New Wanderers Stadium, Johannesburg     Home  22-Dec-13      Drawn
34            St George's Park, Port Elizabeth     Home  20-Feb-14        Won
35         MRIC Stadium, Hambantota, Sri Lanka     Away  12-Jul-14        Won
36                  Harare Sports Club, Harare  Neutral  27-Aug-14        Won
37                  SuperSport Park, Centurion     Home  17-Dec-14        Won
38          Newlands Cricket Ground, Cape Town     Home  04-Jan-15        Won
39         New Wanderers Stadium, Johannesburg     Home  18-Jan-15        Won
40               Sydney Cricket Ground, Sydney  Neutral  27-Feb-15        Won
41                  Green Park Stadium, Kanpur     Away  11-Oct-15        Won
42          M. A. Chidambaram Stadium, Chennai     Away  22-Oct-15       Lost
43                    Wankhede Stadium, Mumbai     Away  25-Oct-15        Won
44          Newlands Cricket Ground, Cape Town     Home  14-Feb-16        Won
45                          Boland Park, Paarl     Home  18-Oct-17        Won
46            St George's Park, Port Elizabeth     Home  09-Mar-18        Won

    tokenized_text normalized_tokenized_text  processed_text
0        [england]                 [england]       [england]
1   [west, indies]            [west, indies]  [west, indies]
2   [west, indies]            [west, indies]  [west, indies]
3   [west, indies]            [west, indies]  [west, indies]
4       [zimbabwe]                [zimbabwe]      [zimbabwe]
5       [pakistan]                [pakistan]      [pakistan]
6   [west, indies]            [west, indies]  [west, indies]
7          [india]                   [india]         [india]
8        [england]                 [england]       [england]
9      [australia]               [australia]     [australia]
10     [australia]               [australia]     [australia]
11     [australia]               [australia]     [australia]
12       [england]                 [england]       [england]
13         [india]                   [india]         [india]
14         [india]                   [india]         [india]
15  [west, indies]            [west, indies]  [west, indies]
16  [west, indies]            [west, indies]  [west, indies]
17      [zimbabwe]                [zimbabwe]      [zimbabwe]
18      [zimbabwe]                [zimbabwe]      [zimbabwe]
19      [pakistan]                [pakistan]      [pakistan]
20         [india]                   [india]         [india]
21  [west, indies]            [west, indies]  [west, indies]
22   [netherlands]             [netherlands]   [netherlands]
23    [sri, lanka]              [sri, lanka]    [sri, lanka]
24    [sri, lanka]              [sri, lanka]    [sri, lanka]
25  [new, zealand]            [new, zealand]  [new, zealand]
26     [australia]               [australia]     [australia]
27      [pakistan]                [pakistan]      [pakistan]
28      [pakistan]                [pakistan]      [pakistan]
29      [pakistan]                [pakistan]      [pakistan]
30      [pakistan]                [pakistan]      [pakistan]
31      [pakistan]                [pakistan]      [pakistan]
32         [india]                   [india]         [india]
33         [india]                   [india]         [india]
34     [australia]               [australia]     [australia]
35    [sri, lanka]              [sri, lanka]    [sri, lanka]
36     [australia]               [australia]     [australia]
37  [west, indies]            [west, indies]  [west, indies]
38  [west, indies]            [west, indies]  [west, indies]
39  [west, indies]            [west, indies]  [west, indies]
40  [west, indies]            [west, indies]  [west, indies]
41         [india]                   [india]         [india]
42         [india]                   [india]         [india]
43         [india]                   [india]         [india]
44       [england]                 [england]       [england]
45    [bangladesh]              [bangladesh]    [bangladesh]
46     [australia]               [australia]     [australia]

In [13]:
# stemming and lemmatization

from nltk.stem import PorterStemmer, WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [14]:
def process_text(text):
    text = text.lower()
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    tokens = word_tokenize(text)

    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]

    # Stemming
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(word) for word in filtered_tokens]

    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in filtered_tokens]

    return stemmed_tokens, lemmatized_tokens

df['stemmed_text'], df['lemmatized_text'] = zip(*df['Against'].apply(process_text))

print(df)

    No.  Score       Against  Position  Innings  \
0     1    109       England         1        3
1     2    178   West Indies         2        2
2     3    114   West Indies         1        1
3     4    146   West Indies         1        1
4     5    107      Zimbabwe         4        1
5     6  103*       Pakistan         4        1
6     7   103*   West Indies         6        2
7     8  217*          India         6        2
8     9    174       England         6        2
9    10  106*      Australia         5        4
10   11   104*     Australia         5        2
11   12    163     Australia         5        2
12   13    121       England         3        1
13   14   114*         India         5        2
14   15  102*          India         4        1
15   16    102   West Indies         4        1
16   17   135*   West Indies         5        1
17   18   101*      Zimbabwe         3        2
18   19    109      Zimbabwe         4        1
19   20  278*       Pakistan         5        1
20   21    129         India         5        2
21   22  107*    West Indies         4        2
22   23    134   Netherlands         4        1
23   24   160*     Sri Lanka         5        1
24   25   125*     Sri Lanka         4        1
25   26   106*   New Zealand         5        2
26   27    169     Australia         5        3
27   28   103*      Pakistan         5        3
28   29    121      Pakistan         5        1
29   30    128      Pakistan         2        1
30   31    164      Pakistan         6        2
31   32   115*      Pakistan         5        1
32   33    109         India         5        1
33   34    103         India         6        4
34   35    116     Australia         5        1
35   36    108     Sri Lanka         4        1
36   37   136*     Australia         4        2
37   38    152   West Indies         5        1
38   39    148   West Indies         5        2
39   40    149   West Indies         3        1
40   41   162*   West Indies         5        1
41   42   104*         India         4        1
42   43    112         India         4        2
43   44    119         India         4        1
44   45   101*       England         5        2
45   46    176    Bangladesh         4        1
46   47   126*     Australia         5        2

                                         Venue   Ground       Date     Result  \
0                   SuperSport Park, Centurion     Home  21-Jan-05      Drawn
1                  Kensington Oval, Bridgetown     Away  21-Apr-05        Won
2         Antigua Recreation Ground, St John's     Away  29-Apr-05      Drawn
3        National Cricket Stadium, St George's     Away  10-Apr-07        Won
4                   Harare Sports Club, Harare     Away  26-Aug-07        Won
5                      Gaddafi Stadium, Lahore     Away  18-Oct-07        Won
6             Kingsmead Cricket Ground, Durban     Home  10-Jan-08        Won
7              Sardar Patel Stadium, Ahmedabad     Away  03-Apr-08        Won
8                            Headingley, Leeds     Away  18-Jul-08        Won
9                           WACA Ground, Perth     Away  17-Dec-08        Won
10         New Wanderers Stadium, Johannesburg     Home  26-Feb-09       Lost
11          Newlands Cricket Ground, Cape Town     Home  19-Mar-09        Won
12          Newlands Cricket Ground, Cape Town     Home  27-Nov-09        Won
13                 Roop Singh Stadium, Gwalior     Away  24-Feb-10       Lost
14             Sardar Patel Stadium, Ahmedabad     Away  27-Feb-10        Won
15        Sir Vivian Richards Stadium, Antigua     Away  22-May-10  Won (D/L)
16                     Warner Park, Basseterre     Away  18-Jun-10      Drawn
17                  Senwes Park, Potchefstroom     Home  17-Oct-10        Won
18                    Willowmoore Park, Benoni     Home  22-Oct-10        Won
19     Sheikh Zayed Cricket Stadium, Abu Dhabi  Neutral  20-Nov-10      Drawn
20                  SuperSport Park, Centurion     Home  16-Dec-10        Won
21              Feroz Shah Kotla Ground, Delhi  Neutral  24-Feb-11        Won
22                         PCA Stadium, Mohali  Neutral  03-Mar-11        Won
23          Newlands Cricket Ground, Cape Town     Home  03-Jan-12        Won
24         New Wanderers Stadium, Johannesburg     Home  22-Jan-12       Lost
25                 Westpac Stadium, Wellington     Away  25-Feb-12        Won
26                          WACA Ground, Perth     Away  30-Nov-12        Won
27         New Wanderers Stadium, Johannesburg     Home  03-Feb-13        Won
28                  SuperSport Park, Centurion     Home  22-Feb-13        Won
29         New Wanderers Stadium, Johannesburg     Home  17-Mar-13        Won
30  Dubai International Cricket Stadium, Dubai  Neutral  23-Oct-13        Won
31            Sharjah Cricket Stadium, Sharjah  Neutral  11-Nov-13        Won
32                 SuperSport Park, Centurion,     Home  11-Dec-13  No result
33         New Wanderers Stadium, Johannesburg     Home  22-Dec-13      Drawn
34            St George's Park, Port Elizabeth     Home  20-Feb-14        Won
35         MRIC Stadium, Hambantota, Sri Lanka     Away  12-Jul-14        Won
36                  Harare Sports Club, Harare  Neutral  27-Aug-14        Won
37                  SuperSport Park, Centurion     Home  17-Dec-14        Won
38          Newlands Cricket Ground, Cape Town     Home  04-Jan-15        Won
39         New Wanderers Stadium, Johannesburg     Home  18-Jan-15        Won
40               Sydney Cricket Ground, Sydney  Neutral  27-Feb-15        Won
41                  Green Park Stadium, Kanpur     Away  11-Oct-15        Won
42          M. A. Chidambaram Stadium, Chennai     Away  22-Oct-15       Lost
43                    Wankhede Stadium, Mumbai     Away  25-Oct-15        Won
44          Newlands Cricket Ground, Cape Town     Home  14-Feb-16        Won
45                          Boland Park, Paarl     Home  18-Oct-17        Won
46            St George's Park, Port Elizabeth     Home  09-Mar-18        Won

    tokenized_text normalized_tokenized_text  processed_text    stemmed_text  \
0        [england]                 [england]       [england]       [england]
1   [west, indies]            [west, indies]  [west, indies]    [west, indi]
2   [west, indies]            [west, indies]  [west, indies]    [west, indi]
3   [west, indies]            [west, indies]  [west, indies]    [west, indi]
4       [zimbabwe]                [zimbabwe]      [zimbabwe]       [zimbabw]
5       [pakistan]                [pakistan]      [pakistan]      [pakistan]
6   [west, indies]            [west, indies]  [west, indies]    [west, indi]
7          [india]                   [india]         [india]         [india]
8        [england]                 [england]       [england]       [england]
9      [australia]               [australia]     [australia]     [australia]
10     [australia]               [australia]     [australia]     [australia]
11     [australia]               [australia]     [australia]     [australia]
12       [england]                 [england]       [england]       [england]
13         [india]                   [india]         [india]         [india]
14         [india]                   [india]         [india]         [india]
15  [west, indies]            [west, indies]  [west, indies]    [west, indi]
16  [west, indies]            [west, indies]  [west, indies]    [west, indi]
17      [zimbabwe]                [zimbabwe]      [zimbabwe]       [zimbabw]
18      [zimbabwe]                [zimbabwe]      [zimbabwe]       [zimbabw]
19      [pakistan]                [pakistan]      [pakistan]      [pakistan]
20         [india]                   [india]         [india]         [india]
21  [west, indies]            [west, indies]  [west, indies]    [west, indi]
22   [netherlands]             [netherlands]   [netherlands]    [netherland]
23    [sri, lanka]              [sri, lanka]    [sri, lanka]    [sri, lanka]
24    [sri, lanka]              [sri, lanka]    [sri, lanka]    [sri, lanka]
25  [new, zealand]            [new, zealand]  [new, zealand]  [new, zealand]
26     [australia]               [australia]     [australia]     [australia]
27      [pakistan]                [pakistan]      [pakistan]      [pakistan]
28      [pakistan]                [pakistan]      [pakistan]      [pakistan]
29      [pakistan]                [pakistan]      [pakistan]      [pakistan]
30      [pakistan]                [pakistan]      [pakistan]      [pakistan]
31      [pakistan]                [pakistan]      [pakistan]      [pakistan]
32         [india]                   [india]         [india]         [india]
33         [india]                   [india]         [india]         [india]
34     [australia]               [australia]     [australia]     [australia]
35    [sri, lanka]              [sri, lanka]    [sri, lanka]    [sri, lanka]
36     [australia]               [australia]     [australia]     [australia]
37  [west, indies]            [west, indies]  [west, indies]    [west, indi]
38  [west, indies]            [west, indies]  [west, indies]    [west, indi]
39  [west, indies]            [west, indies]  [west, indies]    [west, indi]
40  [west, indies]            [west, indies]  [west, indies]    [west, indi]
41         [india]                   [india]         [india]         [india]
42         [india]                   [india]         [india]         [india]
43         [india]                   [india]         [india]         [india]
44       [england]                 [england]       [england]       [england]
45    [bangladesh]              [bangladesh]    [bangladesh]    [bangladesh]
46     [australia]               [australia]     [australia]     [australia]

   lemmatized_text
0        [england]
1    [west, indie]
2    [west, indie]
3    [west, indie]
4       [zimbabwe]
5       [pakistan]
6    [west, indie]
7          [india]
8        [england]
9      [australia]
10     [australia]
11     [australia]
12       [england]
13         [india]
14         [india]
15   [west, indie]
16   [west, indie]
17      [zimbabwe]
18      [zimbabwe]
19      [pakistan]
20         [india]
21   [west, indie]
22   [netherlands]
23    [sri, lanka]
24    [sri, lanka]
25  [new, zealand]
26     [australia]
27      [pakistan]
28      [pakistan]
29      [pakistan]
30      [pakistan]
31      [pakistan]
32         [india]
33         [india]
34     [australia]
35    [sri, lanka]
36     [australia]
37   [west, indie]
38   [west, indie]
39   [west, indie]
40   [west, indie]
41         [india]
42         [india]
43         [india]
44       [england]
45    [bangladesh]
46     [australia]

In [17]:
# word embeddings
!pip install gensim nltk

Requirement already satisfied: gensim in /usr/local/lib/python3.10/dist-packages (4.3.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.23.5)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.11.4)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim) (6.4.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.1)

In [23]:
 !pip install sumy nltk

Collecting sumy
  Downloading sumy-0.11.0-py2.py3-none-any.whl (97 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.3/97.3 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Collecting docopt<0.7,>=0.6.1 (from sumy)
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Collecting breadability>=0.1.20 (from sumy)
  Downloading breadability-0.1.20.tar.gz (32 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from sumy) (2.31.0)
Collecting pycountry>=18.2.23 (from sumy)
  Downloading pycountry-23.12.11-py3-none-any.whl (6.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.2/6.2 MB 21.3 MB/s eta 0:00:00
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.1)
Requirement already satisfied: chardet in /usr/local/lib/python3.10/dist-packages (from breadability>=0.1.20->sumy) (5.2.0)
Requirement already satisfied: lxml>=2.0 in /usr/local/lib/python3.10/dist-packages (from breadability>=0.1.20->sumy) (4.9.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (2023.11.17)
Building wheels for collected packages: breadability, docopt
  Building wheel for breadability (setup.py) ... done
  Created wheel for breadability: filename=breadability-0.1.20-py2.py3-none-any.whl size=21691 sha256=4aac37e0cb374bc331a0f918ce2b5cfc18e5fcc695fc5c897a5cb6ce330187b5
  Stored in directory: /root/.cache/pip/wheels/64/22/90/b84fcc30e16598db20a0d41340616dbf9b1e82bbcc627b0b33
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13706 sha256=e82f93eabae060f7613fe668757a6ea38e93ea3cab378c128d2d52e344603e80
  Stored in directory: /root/.cache/pip/wheels/fc/ab/d4/5da2067ac95b36618c629a5f93f809425700506f72c9732fac
Successfully built breadability docopt
Installing collected packages: docopt, pycountry, breadability, sumy
Successfully installed breadability-0.1.20 docopt-0.6.2 pycountry-23.12.11 sumy-0.11.0

In [25]:
import pandas as pd
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from sumy.summarizers.text_rank import TextRankSummarizer
import unicodedata

In [27]:
df = pd.DataFrame(df)

In [28]:
def normalize_text(text):

    text = text.lower()

    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')

    return text


df['normalized_text'] = df['Against'].apply(normalize_text)

In [29]:
def summarize_text(text):
    parser = PlaintextParser.from_string(text, Tokenizer('english'))
    summarizer = TextRankSummarizer()
    summary = summarizer(parser.document, sentences_count=2)  # Change sentences_count as needed
    return ' '.join(str(sentence) for sentence in summary)

df['summary'] = df['normalized_text'].apply(summarize_text)

print(df[['Against', 'summary']])

         Against      summary
0        England      england
1    West Indies  west indies
2    West Indies  west indies
3    West Indies  west indies
4       Zimbabwe     zimbabwe
5       Pakistan     pakistan
6    West Indies  west indies
7          India        india
8        England      england
9      Australia    australia
10     Australia    australia
11     Australia    australia
12       England      england
13         India        india
14         India        india
15   West Indies  west indies
16   West Indies  west indies
17      Zimbabwe     zimbabwe
18      Zimbabwe     zimbabwe
19      Pakistan     pakistan
20         India        india
21   West Indies  west indies
22   Netherlands  netherlands
23     Sri Lanka    sri lanka
24     Sri Lanka    sri lanka
25   New Zealand  new zealand
26     Australia    australia
27      Pakistan     pakistan
28      Pakistan     pakistan
29      Pakistan     pakistan
30      Pakistan     pakistan
31      Pakistan     pakistan
32         India        india
33         India        india
34     Australia    australia
35     Sri Lanka    sri lanka
36     Australia    australia
37   West Indies  west indies
38   West Indies  west indies
39   West Indies  west indies
40   West Indies  west indies
41         India        india
42         India        india
43         India        india
44       England      england
45    Bangladesh   bangladesh
46     Australia    australia